<aside {% if page.current == 'blog' %} class="sidebar-blog"{% else %} class="sidebar-blog" {% endif %}>
  <!-- <div class="scribble10"></div> -->

  <!-- <section>
    <h5  class="l-sidebar__heading">Please donate!</h5>
    <p>In order to make this happen we need your help. Please consider donating:</p>
    <p class="custom-donation">
      <input type="number" id="custom-donation-amount" placeholder="75.00 $" min="0 " step="25.00"/>
      <a href="#" class="donate-button donate-button-small button" data-custom="true" data-name="Custom">
        Donate<i class="icon-star-white"></i>
      </a>
    </p>
    <p>Or find out more about <a href="/campaign">our campaign</a>!</p>
  </section> -->

  <div class="sidebar-content border">
    <h5  class="l-sidebar__heading">Become a 2016 Sponsor!</h5>
    <p>We need your support to help us take things to the next level.</p>
    <p><a href="https://drive.google.com/open?id=0B3YfVKb1r4nOdy14Snlibk9JYUU">Here is a link to our sponsorship prospectus</a> in which you will find more details about or conference and the sponsorship tiers</p>
  </div>

  <div class="sidebar-content">
    <h5  class="l-sidebar__heading">Connect with us!</h5>
    <ul class="list list--none">
      <li><a href="https://twitter.com/RubyConfCo" target="_blank"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
      <li><a href="https://www.facebook.com/RubyConfCo" target="_blank"><i class="fa fa-facebook"></i> Find us on Facebook</a></li>
      <li><a href="http:////rubyconf.us11.list-manage.com/subscribe/post?u=7b7c2e5ead7427750ced71f09&amp;id=22ba1d80e6" target="_blank"><i class="fa fa-envelope"></i> Subscribe to our newsletter</a></li>
    </ul>
  </div>

  <div class="sidebar-content">
    <h5 class="l-sidebar__heading">Latest posts</h5>
    <ul class="list list--none list--archive">
      {% for post in site.posts offset: 0 limit: 5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <section>
    <h5  class="l-sidebar__heading">Latest tweets</h5>
    <div class="twitter">
      <a class="twitter-timeline" href="https://twitter.com/RubyConfCo" data-widget-id="732344975820722176">Tweets by @RubyConfCo</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </section>
