<section class="footer">
    <div class="container">

      <div class="col-md-4">
        <div class="widget about-widget">
          <h6 class="widget-head">About RubyConf Colombia</h6>
          <p class="text-alt"><small>This will be the second edition of RubyConf Colombia and this year’s conference will have better content, will have more attendees, will have more talks and will be held at a brand new venue. We are expecting Rubyists from all over the world to attend and speak.</small></p>

        </div>
      </div>
    </div>

    <div class="footer-base">
      <div class="container">

        <div class="col-md-6">
          <ul class="footer-nav">
            <li class="footer-nav-item"><a href="mailto:organizers@rubyconf.co">Contact</a></li>
            <li class="footer-nav-item"><a href="/code-of-conduct.html">Code of Conduct</a></li>
          </ul>
        </div>

        <div class="col-md-6 align-right">
          <ul class="socials-nav align-right">
            <li class="socials-nav-item"><a href="https://twitter.com/RubyConfCo" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li class="socials-nav-item"><a href="https://facebook.com/RubyConfCo" target="_blank"><span class="fa fa-facebook"></span></a></li>
          </ul>
        </div>

      </div>
    </div>
</section>
