<section class="footer">
  <div>
    <img src="/img/backgrounds/skyline.svg">
  </div>

    <div class="footer-base">
      <div class="container">

        <div class="col-md-6">
          <ul class="footer-nav">
            <li class="footer-nav-item"><a href="mailto:organizers@rubyconf.co">Contact</a></li>
            <li class="footer-nav-item"><a href="/code-of-conduct.html">Code of Conduct</a></li>
            <li class="footer-nav-item"><a href="/blog/">News</a></li>
          </ul>
        </div>

        <div class="col-md-6 align-right">
          <ul class="socials-nav align-right">
            <li class="socials-nav-item"><a href="https://twitter.com/RubyConfCo" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li class="socials-nav-item"><a href="https://facebook.com/RubyConfCo" target="_blank"><span class="fa fa-facebook"></span></a></li>
          </ul>
          <p class="text-alt"><small>Brought to you by Ruby Colombia</small></p>
        </div>

      </div>
    </div>
</section>
