<section class="section align-center" id="cfp">
<div class="container">
  <h2>Speak at RubyConf Colombia</h2>

  <p>
    We are looking for talks of all types of audience -beginner, intermediate or
    advanced- and great non-technical talks that you think would appeal to the
    conference attendants are also welcome!
  </p>

  <p>
    CFP will close, 10th of June at midnight COT.
  </p>

  <a href="https://www.papercall.io/rubyconfco-2016" class="btn btn-lg" id="cfp-link">
    Submit Your Talk!
  </a>
</div>
</section>
