<section id="gallery" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-badges-votes-01"></span>
    <h3>Previous Event</h3>
    <p class="text-alt">see what we did <a href="http://2015.rubyconf.co" target="_blank" class="highlight">lately</a></p>
    <br/>

    <div class="gallery masonry">

      <span class="masonry-item">
        <a href="#">
          <img src="img/gallery/gallery2.jpg" alt="">
        </a>
      </span>

      <span class="masonry-item">
        <a href="#">
          <img src="img/gallery/gallery3.jpg" alt="">
        </a>
      </span>

      <span class="masonry-item">
        <a href="#">
          <img src="img/gallery/gallery4.jpg" alt="">
        </a>
      </span>

      <span class="masonry-item">
        <a href="#">
          <img src="img/gallery/gallery5.jpg" alt="">
        </a>
      </span>

      <span class="masonry-item">
        <a href="#">
          <img src="img/gallery/gallery6.jpg" alt="">
        </a>
      </span>
    </div>
  </div>
</section>

