<section id="gallery" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-badges-votes-01"></span>
    <br/>
    <br/>
    <h2>RubyConf Colombia 2015</h2>
    <p class="text-alt">We had a lot of fun last year. Checkout the <a href="http://2015.rubyconf.co" target="_blank" class="highlight">website</a>.</p>
    <p class="text-alt">Watch the <a href="https://www.youtube.com/watch?v=1VDjHBRK9Eo&list=PLq_08z5fuQgFP64HqrRWd3RWUKmPFMdo6" target="_blank" class="highlight">videos</a> of the talks.</p>
    <br/>

    <div class="gallery masonry">

      <span class="masonry-item">
        <img src="img/gallery/gallery2.jpg" alt="">
      </span>

      <span class="masonry-item">
        <img src="img/gallery/gallery3.jpg" alt="">
      </span>

      <span class="masonry-item">
        <img src="img/gallery/gallery5.jpg" alt="">
      </span>

      <span class="masonry-item">
        <img src="img/gallery/gallery6.jpg" alt="">
      </span>
    </div>
  </div>
</section>
