<section id="hero" class="hero-section bg-cover window-height light-text overlay overlay-clr">

	<ul class="socials-nav">
		<li class="socials-nav-item"><a href="#"><span class="fa fa-twitter"></span></a></li>
		<li class="socials-nav-item"><a href="#"><span class="fa fa-facebook"></span></a></li>
	</ul>

	<div class="heading-block centered-block align-center">
		<div class="container">
			<h5 class="heading-alt" style="margin-bottom: 8px;">
        <span class="fa fa-calendar-o"></span>
        2-3 Sept, 2016
        <span class="fa fa-map-marker" style="margin-left: 14px;"></span>
        Medellín, Colombia
      </h5>

      {% if site.hero.logo %}
        <img class='logo' src="/img/logo.png" />
      {% else %}
        <h1 id="title" class="extra-heading thin">
          RubyConf Colombia
        </h1>
      {% endif %}

			<h6 class="thin base-font">
        <strong>Join us</strong> and enjoy the city of <strong>Eternal Spring</strong>.
      </h6>

			<div class="btns-container">
				<a href="#cfp" class="btn btn-md">Call for Proposals</a>
				<a href="/pdf/rubyconf_2016.pdf" class="btn btn-md" target="_blank" data-modal-link="0">Sponsor Prospectus</a>
			</div>
		</div>
	</div>
</section>
