<section class="align-center" id="location">
  <div class="contacts-wrapper">
    <div class="map" data-settings="/json/map.json" style="height:560px;"></div>

    <div class="container contacts-on-map-container">
      <div class="align-left contacts-on-map">
        <h3>Location</h3>

        <ul class="list">
          <li><i class="fa fa-map-marker"></i>El Teatrico</li>
          <li><i class="fa"></i>Transversal 39B # Circular 2 - 46, Medellín, Antioquia, Colombia</li>
          <li><i class="fa"></i><a href="/guide_to_medellin.html">Check out our guide to Medellín</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
