<section class="section bg-cover overlay light-text align-center" id="mailing-list">
  <div class="container">
    <h2>Mailing List</h2>

    <p>Get the latest news about <strong>RubyConf Colombia</strong>, subscribing to our mailing list.</p>

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form action="//rubyconf.us11.list-manage.com/subscribe/post?u=7b7c2e5ead7427750ced71f09&id=8d4ffd72a9" method="post" enctype="multipart/form-data" name="mc-embedded-subscribe-form" class="form row newsletter-form mailchimp-form" target="_blank">
        <div class='row'>
          <fieldset class="col-sm-12">
            <input id="FNAME" name="FNAME" type="text" placeholder="First Name">
          </fieldset>
        </div>

        <div class='row'>
          <fieldset class="col-sm-12">
            <input id="LNAME" name="LNAME" type="text" placeholder="Last Name">
          </fieldset>
        </div>

        <div class='row'>
          <fieldset class="col-sm-12">
            <input id="EMAIL" name="EMAIL" type="email" placeholder="email@email.com">
          </fieldset>
        </div>

        <fieldset class="col-sm-12">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
          <input name="b_7b7c2e5ead7427750ced71f09_8d4ffd72a9" type="text" tabindex="-1" style="position: absolute; left: -5000px" value="">
          <input type="submit" value="Subscribe" class="btn btn btn-outline-clr">
        </fieldset>
      </form>
    </div>
  </div>
</section>
