<section id="sponsors" class="align-center" style="padding-bottom: 30px;">
  <span class="icon section-icon icon-documents-bookmarks-12"></span>
  <div class="container">
    <h3>Interested in sponsoring?</h3>
    <p>We need your support to help us take things to the next level!</p>
   <br/>
    <a href="https://drive.google.com/open?id=0B3YfVKb1r4nOZU92QzRGTVZkNTg" target="_blank" class="btn btn-lg">Download Prospectus</a>
  </div>

  <br/>
  <br/>

  <h5 class="heading-alt">Silver</h5>
  <div class="sponsors">
    {% for sponsor in site.data.sponsor_silver %}
      <div class="sponsor inline">
        <a alt="{{ sponsor.name }}" target="_blank" href="{{sponsor.link}}">
        <img src="/img/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      </div>
    {% endfor %}
  </div>

  <br/>
  <br/>

  <h5 class="heading-alt">Supporter</h5>
  <div class="sponsors">
    {% assign sponsor_supporters = site.data.sponsor_supporters| sort: 'name' %}
    {% for sponsor in sponsor_supporters %}
      <div class="sponsor inline">
        <a alt="{{ sponsor.name }}" target="_blank" href="{{sponsor.link}}">
        <img src="/img/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}">
        </a>
      </div>
    {% endfor %}
  </div>
</section>
